div {
    text-align: center;
    margin-top: 5rem;
}

h2 {
    margin-bottom: -.5rem;
    color: rgb(143, 63, 31);
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

li {
    font-size: 1.5rem;
}

